.butt2 {
    background-color: rgb(246, 251, 252);
    color: black;
}

.butt3 {
    background-color: rgb(250, 203, 212);
    color: black;
}

.butt1 {
    background-color: rgb(85, 211, 243);
    color: black;
}